<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.green.sandme.member.cart.dao.CartDao">
  
  
<!-- mybatis를 통한 sql제어를 위한 .xml파일
	mybatis에서는 .xml mapping을 통해 쿼리문만 관리하기 가능
 -->  

<!-- 장바구니에 저장 -->
	<insert id="insertCart" parameterType="com.green.sandme.member.cart.vo.CartVO">
		INSERT INTO cart_tbl (cartNum, cartMenu, cartShop, custom, cartAddress, cartCount)
		VALUES(cart_seq.nextval, #{cartMenu}, #{cartShop}, #{custom}, #{cartAddress}, #{cartCount})
	</insert>


 
 <!-- 장바구니 목록 조회 -->
    <select id="SelectCart" resultType="com.green.sandme.member.cart.vo.CartVO" parameterType="int">
		SELECT m.menuName, m.menuPrice, c.custom, c.cartCount, c.cartAddress, c.cartNum, c.cartCount
		FROM cart_tbl c INNER JOIN menu_tbl m
		ON c.cartNum = m.menuNum
		WHERE m.menuNum = #{sandMenu}
    </select>  
    
    
<!-- 회원 정보를 가지고 장바구니 목록 조회 --> 
	<select id="pSelectCart" resultType="com.green.sandme.member.cart.vo.CartVOForList" parameterType="int">
		SELECT c.memberNum, c.cartNum, c.custom, c.cartAddress, c.cartCount, m.menuName, m.menuPrice
		FROM cart_tbl c INNER JOIN menu_tbl m
		ON c.cartMenu = m.menuNum
		WHERE c.memberNum = (
		        SELECT me.memberNum
		        FROM member_tbl me INNER JOIN cart_tbl c
		        ON me.memberNum = c.memberNum
		        WHERE me.memberNum = #{memberNum}
		        GROUP BY me.memberNum
		)
	</select>  
	
	
<!-- 장바구니 목록 삭제 -->    
    <delete id="deleteCart" parameterType="int">
    	DELETE FROM cart_tbl
    	WHERE cartNum =  #{cartNum}
    </delete>
    
	
<!-- 주문서에서 조회 -->
 	<select id="selectCartOrder" parameterType="com.green.sandme.member.cart.vo.CartOrderVO" resultType="com.green.sandme.member.cart.vo.CartOrderVO">
 		SELECT c.memberNum, c.cartNum, c.custom, c.cartAddress, c.cartCount, m.menuName, m.menuPrice
				FROM cart_tbl c INNER JOIN menu_tbl m
				ON c.cartMenu = m.menuNum 
				INNER JOIN member_tbl me
				ON c.memberNum = me.memberNum								
				WHERE c.cartNum IN 
			<foreach collection="list" item="cartNum" open="(" separator="," close=")">
				#{cartNum}
			</foreach>		
 	</select>	
	
<!-- 장바구니 총 금액 계산 -->	
	<select id="cartTotalPrice" parameterType="com.green.sandme.member.cart.vo.CartOrderVO" resultType="com.green.sandme.member.cart.vo.CartOrderVO">
		SELECT NVL(SUM(menuPrice * cartCount), 0) totalPrice
		FROM cart_tbl c, menu_tbl m
		WHERE c.cartMenu = m.menuNum  
		AND c.cartNum IN 
		<foreach collection="list" item="cartNum" open="(" separator="," close=")">
				#{cartNum}
		</foreach>
	</select>
	
	
	
	

    
    <!-- 나중에 회원정보까지 들어왔을 때 사용할 장바구니 목록 쿼리문 -->
<!--     <select id="SelectCart" resultType="com.green.sandme.member.cart.vo.CartVO" parameterType="int">
		SELECT m.menuName, m.menuPrice, c.custom, c.cartCount, c.cartAddress, c.cartNum, c.cartCount
		FROM cart_tbl c INNER JOIN menu_tbl m
		ON c.cartNum = m.menuNum
		INNER JOIN member_tbl me
		ON c.memberNum = me.memberNum
		WHERE m.menuNum = #{sandMenu}
		AND c.memberNum = ${memberNum}
    </select>   -->
    
    

    



<!-- 
 장바구니 수량 업데이트
	<update id="updateCartCount" parameterType="com.green.sandme.member.cart.vo.CartVO">
		UPDATE cart_tbl SET cartCount = #{cartCount}
		WHERE cartNum = #{cartNum}
	</update>
 
 
 장바구니 수량*가격
 	<select id="selectSumPrice" parameterType="int">
 		SELECT c.cartCount * m.menuPrice
		FROM cart_tbl c INNER JOIN menu_tbl m
		ON c.cartMenu = m.menuNum
		WHERE c.cartNum = #{cartNum}
 	</select> -->
 	
 
 <!-- 조회 -->
<!--  	<select id="selectOrder" parameterType="int" resultType="com.green.sandme.member.cart.vo.CartOrderVO">
 		SELECT totalPrice, cartNum, orderId
 		FROM order_menu_tbl
 		WHERE cartNum = #{cartNum}
 	</select> -->
 

<!-- 회원 정보 가져오기 -->
	<select id="selectMember" resultType="com.green.sandme.member.cart.vo.MemberVO" parameterType="int">
		SELECT memberTel, memberNum
		FROM member_tbl
		WHERE memberNum = #{memberNum}
	
	</select>
	
<!-- 지점 정보 가져오기 -->
	<select id="orderStore" resultType="com.green.sandme.member.cart.vo.StoreVO" parameterType="int">
		SELECT storeName
		FROM store_tbl s INNER JOIN order_tbl o
		    ON s.storeNum = o.storeNum
		INNER JOIN cart_tbl c
			ON o.orderNum = c.orderNum
		INNER JOIN member_tbl m
			ON c.memberNum = m.memberNum
		WHERE c.memberNum = #{memberNum}
	</select>

    
</mapper>





