<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="./css/style_base.css"> <!-- 베이스 스타일 시트 -->
<link rel="stylesheet" href="./css/style_main.css"> <!-- 메인 스타일 시트 -->
<title>임시 로그인 폼</title>
</head>
<body>
	<th:block th:replace="fragments/header :: headerFragment"></th:block>
	<section>
		<form action="/cartList" method="post">
			회원 번호 입력 : <input type="number" name="memberNum">
			<input type="submit" value="입력">
		</form>
	</section>
	<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>