<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- 제이쿼리 -->
</head>
<body>
<h1>임의 주문내역서</h1>
<table border="1px">
	<tr>
		<th>장바구니 번호</th>
		<th>회원 번호</th>
		<th>가격</th>
		<th>메뉴</th>
		<th>커스텀</th>
		<th>수량</th>
		<th>주소</th>
	</tr>
	<tr th:each="cartOrder : ${cartOrder}">
		<td th:id="cartNum" th:text="${cartOrder.cartNum}" th:value="${cartOrder.cartNum}"></td>
		<td th:id="memberNum" th:text="${cartOrder.memberNum}" th:value="${cartOrder.memberNum}"></td>
		<td th:id="totalPrice" th:text="${cartOrder.menuPrice}" th:value="${cartOrder.menuPrice}"></td>
		<td th:id="cartMenu" th:text="${cartOrder.cartMenu}" th:value="${cartOrder.cartMenu}"></td>
		<td th:id="custom" th:text="${cartOrder.custom}" th:value="${cartOrder.custom}"></td>
		<td th:id="cartCount" th:text="${cartOrder.cartCount}" th:value="${cartOrder.cartCount}"></td>
		<td th:id="cartAddress" th:text="${cartOrder.cartAddress}" th:value="${cartOrder.cartAddress}"></td>
	</tr>
</table> 

<button id="apibtn" th:onclick="kakaopay()">카카오페이</button> 
</body>
<script type="text/javascript">

function kakaopay(){
	
	
	let totalPrice =  $("#totalPrice").text();
	console.log(totalPrice);
	
	let orderId = $("#orderId").text();
	console.log(orderId);
	
	
	$.ajax({
		url:'/kakaopayp',
		method : 'POST',
		async : true,
		data : { 
			total : totalPrice, 
			orderId : orderId	
		},
		dataType:'json',
		success:function(req){
			//alert(req.tid); //결제 고유 번호
			var box = req.next_redirect_pc_url;
			window.open(box); // 새창 열기
		},
		error:function(error){
			alert(error);
		}
	});
	
}


</script>
</html>