<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="./css/style_base.css"> <!-- 베이스 스타일 시트 -->
<link rel="stylesheet" href="./css/style_notice.css"> <!-- 메인 스타일 시트 -->
</head>
<body>
<th:block th:replace="fragments/header :: headerFragment"></th:block>
<section>

<form action="/qnaWrite" method="post" name="jp">
	* 문의 유형 :
	<select name="qnaType" required>
	  <optgroup label="메뉴문의">
	  	<option value="아이디어 건의">아이디어 건의</option>
	    <option value="알레르기 문의">알레르기 문의</option>
	    <option value="원산지 문의">원산지 문의</option>
	  </optgroup>
	  <optgroup label="창업문의">
	    <option value="가맹 개설 문의">가맹 개설 문의</option>
	  </optgroup>
	  <optgroup label="서비스 문의">
	    <option value="칭찬합니다">칭찬합니다</option>
	    <option value="개선해주세요">개선해주세요</option>
	  </optgroup>
	</select><br><br>
	* 이메일 주소 : <input type="email" name="qnaEmail" placeholder="연락받으실 이메일 주소를 입력해주세요." maxlength="30" required><br><br>
	* 전화번호 : <input type="tel" name="qnaTel" placeholder="'-'없이 입력해주세요." required><br><br>
	* 제목 : <input type="text" name="qnaTitle" required><br><br>
	* 내용 : <textarea rows="7" cols="20" name="qnaContent" wrap="soft"></textarea><br><br>
	* 답변 받을 수단을 선택해주세요 : 
	<input type="radio" name="qnaAnswer" value="이메일" checked="checked">이메일
	<input type="radio" name="qnaAnswer" value="휴대전화">휴대전화
	<input type="button" onclick="chk()" value="제출">
</form>
<script>
	function chk() {
		alert("문의 내용이 정상적으로 제출되었습니다.");
		document.jp.submit();
	}
</script>
<br><br>
<h3>문의 답변은 이메일/메시지로 전송됩니다. (소요기간은 1~3일 이내로 문의가 많을시 답변이 지연될 수 있습니다.)</h3>
</section>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>
</html>