<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer th:fragment="footerFragment">
	<div id="ftHead">
		<ul>
			<li><a href="#" onclick="SNS()">이용약관</a></li>
			<li><a href="#" id="pipp" onclick="SNS()">개인정보처리방침</a></li>
			<li><a href="#" onclick="SNS()">위치기반서비스</a></li>
			<li><a href="#" onclick="SNS()">청소년보호방침</a></li>
			<li><a href="#" onclick="SNS()">단체주문</a></li>
			<li sec:authorize="isAuthenticated()" th:if="${#authentication.principal.admin == 'Y'}" id="noticeListBtnWrap"><a onclick="location.href='/qnaList'">문의 사항</a></li>
		</ul>
	</div>
	<div id="ftBody">
		<div id="ftBodyLeft">
			<img src="img/logo(w).svg">
		</div>
		<div id="ftBodyRight">
			<p>경기도 수원시 팔달구 덕영대로 905 아이메카 빌딩 7층 702호 샌드미 | 사업자등록번호 : 124-92-79263</p>
			<p>대표전화번호 : 0507-1487-2111 | 대표팩스번호 : 0507-1487-2111 | 대표이메일 : sandme@sandme.com</p>
			<p>COPYRIGHT SANDME. ALL RIGHTS RESERVED.</p>
		</div>
	</div>
</footer>