<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment">
    <div id="hdLogo">
        <a href="/"><img src="img/logo.svg"></a>
        <div id="hdLeft">
            <ul>
            	<li><a href="/">로그인</a></li>
            	<li><a href="/">회원 가입</a></li>
            </ul>
        </div>
        <div id="hdRight">
            <ul>
            	<li><a href="/"><img src="img/snsF.svg"></a></li>
            	<li><a href="/"><img src="img/snsY.svg"></a></li>
            	<li><a href="/"><img src="img/snsI.svg"></a></li>
            </ul>
        </div>
    </div>
	<nav>
		<div id="openNav">
			<ul>
	            <li><a href="order?order=home">온라인 주문</a><div class="orderLiDeco"></div></li>
	            <li><a href="/">새 소식</a><div class="orderLiDeco"></div></li>
	            <li><a href="/">샌드미</a><div class="orderLiDeco"></div></li>
	            <li><a href="/">매장 검색</a><div class="orderLiDeco"></div></li>
	            <li><a href="/">고객 센터</a><div class="orderLiDeco"></div></li>
	        </ul>
	        <div id="detailNav">
				<ul>
					<li><a href="order?order=home">배달 주문</a></li>
					<li><a href="order?order=pickUp">방문 포장</a></li>
				</ul>
				<ul>
					<li><a href="/">이벤트 · 프로모션</a></li>
					<li><a href="/">공지사항</a></li>
				</ul>
				<ul>
					<li><a href="/">브랜드 소개</a></li>
					<li><a href="/">샌드미 프랜차이즈</a></li>
					<li><a href="/">가맹점 모집</a></li>
				</ul>
				<ul>
					<li><a href="/">지역 검색</a></li>
					<li><a href="/">매장명 검색</a></li>
				</ul>
				<ul>
					<li><a href="/">자주하는 질문</a></li>
					<li><a href="/">문의하기</a></li>
				</ul>
           </div>
		</div>
    </nav>
</header>