@charset "UTF-8";

section {
    padding-top: 210px;
    text-align: center;
}
#orderHead {
	margin-top: 50px;
}
#orderTitleDeco {
	width: 40px;
	height: 5px;
	margin: 0px auto;
	background-color: #FACE34;
}
#orderTitle {
	font-family: 'S-CoreDream-6Bold';
	font-size: 32pt;
	color: #5CB531;
	margin: 10px 0px 25px;
}
#orderChapter {
	width: 555px;
	height: 80px;
	margin: 50px auto;
}
.chapterVi {
	width: 120px;
	height: 80px;
	background-color: #FACE34;
	border-radius: 5px;
	float: left;
}
.chapterVi > p {
	font-size: 10pt;
	margin-top: -7.5px;
}
.Step {
	font-family: 'S-CoreDream-6Bold';
	color: #5CB531;
}
.chapterDe {
	width: 120px;
	height: 80px;
	background-color: #F7F7F7;
	border-radius: 5px;
	float: left;
}
.chapterViImg {
	width: 80px;
}
.chapterDeImg {
	width: 100px;
	margin-top: 5px;
}
.chapterPartition {
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: #F7F7F7;
	margin: 37px 9.5px;
	float: left;
}
#orderSearch {
	width: 800px;
	margin: 0px auto 50px;
	border: 1px solid #C9CACA;
	padding: 25px;
}
#orderSearch > input[type=text] {
	width: 500px;
	height: 40px;
	background-color: #F7F7F7;
	border-radius: 5px;
	outline: none;
	border: none;
	padding: 10px;
	margin: 0px 10px;
}
#btn {
	width: 80px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #5CB531;
	color: white;
	cursor: pointer;
}