@charset "EUC-KR";

#eventHeader { /* 이벤트 헤드 ↓ */
	text-align: center;
	width: 1200px;
	height: 120px;
	margin: 75px auto;
}
#TitleDeco {
	width: 40px;
	height: 5px;
	margin: 0px auto;
	background-color: #FFCE32;
}
#Title {
	font-family: 'S-CoreDream-6Bold';
	font-size: 32pt;
	color: #009223;
	margin: 10px 0px 25px;
}
#Title ~ P {
	line-height: 20pt;	
}
#eventListBtnWrap {
	text-align: center;
}
.btn {
	width: 200px;
	height: 50px;
	border: 1px solid #009223;
	border-radius: 30px;
	font-family: 'S-CoreDream-6Bold';
	background-color: white;
	font-size: 14pt;
	color: #009223;
	cursor: pointer;
	margin-top: 20px;
}
#eventWriteWrap { /* 이벤트 작성 ↓ */
	width: 1200px;
	margin: 0px auto 120px;
	height: 780px;
}
#eventWriteTable {
	border-collapse: collapse;
	width: 1200px;
	text-align: center;
	border-top: 4px solid #009223;
}
#eventWriteTable > tbody > tr:not(:nth-child(2)) > td {
	height: 60px;
}
#eventWriteTable > tbody > tr:first-child > td:first-child,
#eventWriteTable > tbody > tr:nth-child(2) > td:first-child {
	width: 200px;
}
#eventWriteTable > tbody > tr:first-child > td > input {
	width: 1000px;
	height: 40px;
	background-color: #EFEFEF;
	border-radius: 5px;
	outline: none;
	border: none;
	padding: 10px;
}
#eventWriteTable > tbody > tr:nth-child(2) > td {
	border-top: 1px solid #C9CACA;
	height: 500px;
}
#eventWriteTable > tbody > tr:nth-child(2) > td > textarea {
	width: 1000px;
	height: 480px;
	background-color: #EFEFEF;
	border-radius: 5px;
	outline: none;
	border: none;
	padding: 10px;
	resize: none;
	line-height: 20pt;
}
#eventWriteTable > tbody > tr:nth-child(3) > td,
#eventWriteTable > tbody > tr:nth-child(4) > td {
	border-top: 1px solid #C9CACA;
}
.btn2 {
	width: 160px;
	height: 50px;
	border: 1px solid #009223;
	border-radius: 30px;
	font-family: 'S-CoreDream-6Bold';
	background-color: white;
	font-size: 14pt;
	color: #009223;
	cursor: pointer;
}
.btn3 {
	width: 160px;
	height: 50px;
	border: 1px solid #C9CACA;
	border-radius: 30px;
	font-family: 'S-CoreDream-6Bold';
	background-color: white;
	font-size: 14pt;
	color: #C9CACA;
	cursor: pointer;
}