@charset "EUC-KR";

#qnaHeader { /* 문의하기 헤드 ↓ */
	text-align: center;
	width: 1200px;
	height: 120px;
	margin: 75px auto;
}
#TitleDeco {
	width: 40px;
	height: 5px;
	margin: 0px auto;
	background-color: #FFCE32;
}
#Title {
	font-family: 'S-CoreDream-6Bold';
	font-size: 32pt;
	color: #009223;
	margin: 10px 0px 25px;
}
#Title ~ P {
	line-height: 20pt;	
}
table {
	border-collapse: collapse;
	width: 1200px;
	text-align: center;
	border-top: 4px solid #009223;
	margin: 0px auto;
}
table > tbody > tr {
	border-top: 1px solid #C9CACA;
	
}
table > tbody > tr > td:first-child {
	width: 200px;
	height: 60px;
}
table > tbody > tr > td:last-child {
	width: 1000px;
}
table > tbody > tr > td:last-child > select {
	width: 1000px;
	height: 40px;
	background-color: #EFEFEF;
	border-radius: 5px;
	outline: none;
	border: none;
	padding: 10px;
	line-height: 22pt;
}
table > tbody > tr > td:last-child > select > optgroup,
table > tbody > tr > td:last-child > select > option {
	padding: 5px;
}
table > tbody > tr > td:last-child > input[type=text] {
	width: 1000px;
	height: 40px;
	background-color: #EFEFEF;
	border-radius: 5px;
	outline: none;
	border: none;
	padding: 10px;
}