@charset "EUC-KR";

#memberInfoHeader { /* 회원 정보 헤드 ↓ */
	text-align: center;
	width: 1200px;
	height: 120px;
	margin: 75px auto;
}
#TitleDeco {
	width: 40px;
	height: 5px;
	margin: 0px auto;
	background-color: #FFCE32;
}
#Title {
	font-family: 'S-CoreDream-6Bold';
	font-size: 32pt;
	color: #009223;
	margin: 10px 0px 25px;
}
#memberInfoBox { /* 회원 기본 정보 ↓ */
	width: 1200px;
	margin: 50px auto 120px;
	border: 1px solid #C9CACA;
	padding: 50px;
}
table {
	margin: 0px auto;
	border-collapse: collapse;
}
.formHead {
	font-size: 16pt;
	font-family: 'S-CoreDream-6Bold';
	text-align: center;
}
#memberInfoBox > table > tbody > tr > td:first-child {
	width: 200px;
	height: 80px;
}
#memberInfoBox > table > tbody > tr > td:last-child {
	width: 600px;
}
#memberInfoBox > table > tbody > tr > td {
	border-bottom: 1px solid #C9CACA;
}
#btnWrap {
	position: relative;
}
.btn {
	width: 80px;
	height: 40px;
	border: none;
	border-radius: 5px;
	background-color: #009223;
	color: white;
	cursor: pointer;
	position: absolute; top: 20px; right: 0px;
}
.orderList {
	color: #C9CACA;
}
#btnWrap2 {
	text-align: center;
}
.btn2 {
	width: 160px;
	height: 50px;
	margin: 40px 10px;
	border: 1px solid #009223;
	border-radius: 30px;
	font-family: 'S-CoreDream-6Bold';
	background-color: white;
	font-size: 14pt;
	color: #009223;
	cursor: pointer;
	display: inline-block;
}