<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.ico"> <!-- 파비콘 -->
    <title>SandMe 샌드미</title>
    <link rel="stylesheet" href="./css/style_base.css"> <!-- 베이스 스타일 시트 -->
    <link rel="stylesheet" href="./css/style_login.css"> <!-- 로그인 스타일 시트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- 제이쿼리 -->
</head>
<body>
	<th:block th:replace="fragments/header :: headerFragment"></th:block> <!-- 헤더 -->
	<section>
		<div id="loginHeader">
			<div id="TitleDeco"></div>
			<div>
				<p id="Title">로그인</p>
				<p>샌드미 회원으로 로그인하시면 제공하는<br>다양한 서비스를 이용할 수 있습니다.</p>
			</div>
		</div>
		<form action="loginSuccess" method="POST" id="loginForm">
			<table>
				<tbody>
					<tr>
						<td><label for="memberEmail">이메일 아이디</label></td>
						<td><input type="email" placeholder="이메일 아이디 입력" name="memberEmail" id="memberEmail"></td>
					</tr>
					<tr>
						<td><label for="memberPwd">비밀번호</label></td>
						<td><input type="password" placeholder="비밀번호 입력" name="memberPwd" id="memberPwd"></td>
					</tr>
					<tr>
						<td colspan="2"><input type="checkbox" name="rememberId" id="rememberId"><label for="rememberId">이메일 아이디 저장</label></td>
					</tr>
				</tbody>
			</table>
			<div id="btnWrap">
				<button onclick="check()" id="btn">로그인</button><br>
				<a href="/join">회원 가입</a>
			</div>
		</form>
		<th:block th:replace="fragments/footer :: footerFragment"></th:block> <!-- 푸터 -->
	</section>
	<script>
		function check() {
			if ($('#memberEmail').val() == "") {
				alert('이메일 아이디가 입력되지 않았습니다.');
				$('#memberEmail').focus();
			} else if($('#memberPwd').val() == "") {
				alert('비밀번호가 입력되지 않았습니다.');
				$('#memberPwd').focus();
			} else {
				$('#loginForm').submit();
			}
		}
		
		$(document).ready(function() {
			// 저장된 쿠키값을 가져와서 ID 칸에 넣어준다. 없으면 공백으로 들어감.
			let key = getCookie("key");
		    $("#memberEmail").val(key); 
		     
		    // 그 전에 ID를 저장해서 처음 페이지 로딩 시, 입력 칸에 저장된 ID가 표시된 상태라면,
		    if ($("#memberEmail").val() != "") { 
		        $("#rememberId").attr("checked", true); // ID 저장하기를 체크 상태로 두기.
		    }
		     
		    $("#rememberId").change(function() { // 체크박스에 변화가 있다면,
		        if ($("#rememberId").is(":checked")) { // ID 저장하기 체크했을 때,
		        	setCookie("key", $("#memberEmail").val(), 7); // 7일 동안 쿠키 보관
		        } else { // ID 저장하기 체크 해제 시,
		            deleteCookie("key");
		        }
		    });
		     
		    // ID 저장하기를 체크한 상태에서 ID를 입력하는 경우, 이럴 때도 쿠키 저장.
		    $("#memberEmail").keyup(function() { // ID 입력 칸에 ID를 입력할 때,
		    	if ($("#rememberId").is(":checked")) { // ID 저장하기를 체크한 상태라면,
		        	setCookie("key", $("#memberEmail").val(), 7); // 7일 동안 쿠키 보관
       		}
	    });

		// 쿠키 저장하기 
		// setCookie => saveid함수에서 넘겨준 시간이 현재시간과 비교해서 쿠키를 생성하고 지워주는 역할
		function setCookie(cookieName, value, exdays) {
			let exdate = new Date();
			exdate.setDate(exdate.getDate() + exdays);
			let cookieValue = escape(value)
				+ ((exdays == null) ? "" : "; expires=" + exdate.toGMTString());
			document.cookie = cookieName + "=" + cookieValue;
		}

		// 쿠키 삭제
		function deleteCookie(cookieName) {
			let expireDate = new Date();
			expireDate.setDate(expireDate.getDate() - 1);
			document.cookie = cookieName + "= " + "; expires="
					+ expireDate.toGMTString();
		}
	     
		// 쿠키 가져오기
		function getCookie(cookieName) {
			cookieName = cookieName + '=';
			let cookieData = document.cookie;
			let start = cookieData.indexOf(cookieName);
			let cookieValue = '';
			
			if (start != -1) { // 쿠키가 존재하면
				start += cookieName.length;
				let end = cookieData.indexOf(';', start);
				if (end == -1) // 쿠키 값의 마지막 위치 인덱스 번호 설정 
					end = cookieData.length;
	                console.log("end위치  : " + end);
				cookieValue = cookieData.substring(start, end);
			}
			
			return unescape(cookieValue);
		}
	})
	</script>
</body>
</html>