<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.ico"> <!-- 파비콘 -->
    <title>SandMe 샌드미</title>
    <link rel="stylesheet" href="./css/style_base.css"> <!-- 베이스 스타일 시트 -->
    <link rel="stylesheet" href="./css/style_memberInfo.css"> <!-- 회원정보 스타일 시트 -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- 제이쿼리 -->
</head>
<body>
	<th:block th:replace="fragments/header :: headerFragment"></th:block> <!-- 헤더 -->
	<section>
		<div id="memberInfoHeader">
			<div id="TitleDeco"></div>
			<div>
				<p id="Title">회원 정보</p>
				<p th:if="${memberInfo == 'info'}">기본 정보 및 주문 내역</p>
				<p th:if="${memberInfo == 'update'}">기본 정보 변경</p>
				<p th:if="${memberInfo == 'delete'}">회원 탈퇴</p>
			</div>
		</div>
		<div th:if="${memberInfo == 'info'}" id="memberInfoBox">
			<table>
				<tbody>
					<tr>
						<td><label for="memberEmail">이메일 아이디</label></td>
						<td><span th:text="${mVo.memberEmail}">memberEmail</span></td>
					</tr>
					<tr>
						<td><label for="memberName">이름</label></td>
						<td><span th:text="${mVo.memberName}">memberName</span></td>
					</tr>
					<tr>
						<td><label for="memberTel">전화번호</label></td>
						<td id="btnWrap"><span th:text="${mVo.memberTel}">memberTel</span><button class="btn" th:onclick="|location.href='@{/updateMember(memberNum=${mVo.memberNum})}'|">정보 수정</button></td>
					</tr>
					<tr>
						<td colspan="2" class="formHead"><p>주문 내역</p></td>
					</tr>
					<tr>
						<td th:if="${mOVo == 'null'}" colspan="2" class="orderList">주문 내역이 없습니다.</td> <!-- 주문 내역이 없을 때 -->
						<td th:unless="${mOVo == 'null'}" colspan="2" class="orderList"> <!-- 주문 내역이 있을 때 -->
							<div th:each="order, i : ${mOVo}">
								<table class="memberOrder">
									<tbody>
										<tr>
											<th>주문 번호</th>
											<td th:text="${order.orderNum}" colspan="3">orderNum</td>
										</tr>
										<tr>
											<th>주문 유형</th>
											<td th:text="${order.orderCategory}">orderCategory</td>
											<th>주문 매장</th>
											<td th:text="${order.shopName}">shopName</td>
										</tr>
										<tr>
											<th>주문 시간</th>
											<td th:text="${order.orderTime}">orderTime</td>
											<th>주문 금액</th>
											<td><span th:text="${#numbers.formatInteger(order.orderTotalPrice, 0, 'COMMA')}">orderTotalPrice</span>원</td>
										</tr>
										<tr th:if="${order.orderCategory == '배달 주문'}">
											<th>배달 주소</th>
											<td th:text="${order.orderAddress}" colspan="3">orderAddress</td>
										</tr>
									</tbody>
								</table>
								<div th:each="orderMenu, j : ${order.orderMenu}" class="orderWrap">
 									<img th:src="@{${orderMenu.menuPicUrl}}">			
									<p><span th:text="${orderMenu.menuName}">menuName</span>　<span style="color:#C9CACA;">|</span>　<span style="color:#3E3A39;">수량 : <span th:text="${orderMenu.orderQuantity}">orderQuantity</span>개</span></p>
									<p th:text="${orderMenu.orderCustom}">orderCustom</p>
									<p>음료 : <span th:text="${orderMenu.orderDrink}">orderDrink</span></p>
									<p><span th:text="${#numbers.formatInteger(orderMenu.menuPrice, 0, 'COMMA')}">menuPrice</span><span style="font-size: 12pt; color: #009223;">원</span></p>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div id="btnWrap2"><button class="btn2" th:onclick="|location.href='@{/deleteMember(memberNum=${mVo.memberNum})}'|">회원 탈퇴</button></div>
		</div>
		<div th:if="${memberInfo == 'update'}" id="memberInfoBox">
			<form action="/sandme-0.0.1-SNAPSHOT/updateProcess" method="post" id="memberUpdateForm">
				<input type="hidden" th:value="${mVo.memberNum}" name="memberNum">
				<table>
					<tbody>
						<tr>
							<td colspan="2" id="formHead">기본 정보</td>
						</tr>
						<tr>
							<td><label for="memberEmail">이메일 아이디</label></td>
							<td><input type="email" th:value="${mVo.memberEmail}" name="memberEmail" id="memberEmail" readonly></td>
						</tr>
						<tr>
							<td><label for="memberPwd">비밀번호</label></td>
							<td><input type="password" maxlength="15" placeholder="비밀번호 입력" name="memberPwd" id="memberPwd"></td>
						</tr>
						<tr>
							<td><label for="memberPwd">비밀번호 확인</label></td>
							<td><input type="password" maxlength="15" placeholder="확인 비밀번호 입력" name="memberPwdCheck" id="memberPwdCheck"></td>
						</tr>
						<tr>
							<td><label for="memberName">이름</label></td>
							<td><input type="text" name="memberName" th:value="${mVo.memberName}" id="memberName"></td>
						</tr>
						<tr>
							<td><label for="memberTel">전화번호</label></td>
							<td><input type="text" name="memberTel" th:value="${mVo.memberTel}" id="memberTel"></td>
						</tr>
					</tbody>
				</table>
				<div id="btnWrap2"><input type="button" value="정보 수정" class="btn2" onclick="check()"><input type="button" value="취소" class="btn3" th:onclick="|location.href='@{/memberInfo(memberNum=${mVo.memberNum})}'|"></div>
			</form>
			<script>
				function check() {
					let memberPwd = document.getElementById('memberPwd').value; 
					let SC = ["!", "@", "#", "$", "%", "?", "&"];
					let check_SC = 0;
					let memberTel = document.getElementById('memberTel').value; 
			           
					for (let i = 0; i < SC.length; i++) {
						if (memberPwd.indexOf(SC[i]) != -1) {
							check_SC = 1;
						}
					}
					
					if ($('#memberPwd').val() == "") {
						alert('비밀번호가 입력되지 않았습니다.');
						$('#memberPwd').focus();
					} else if ($('#memberPwdCheck').val() == "") {
						alert('확인 비밀번호가 입력되지 않았습니다.');
						$('#memberPwdCheck').focus();
					} else if (memberPwd.length < 8 || memberPwd.length>16) {
		                alert('비밀번호는 8글자 이상, 16글자 이하만 사용 가능합니다.');
		                document.getElementById('memberPwd').value='';
	             	} else if (check_SC == 0) {
	                    alert('비밀번호에 특수문자가 포함되지 않았습니다.')
	                    document.getElementById('memberPwd').value='';
	                    document.getElementById('memberPwdCheck').value='';
	                } else if($('#memberName').val() == "") {
						alert('이름이 입력되지 않았습니다.');
						$('#memberName').focus();
					} else if($('#memberTel').val() == "") {
						alert('전화번호가 입력되지 않았습니다.');
						$('#memberTel').focus();
					} else if($('#memberPwd').val() != $('#memberPwdCheck').val()) {
						alert('확인 비밀번호가 일치하지 않습니다.');
						$('#memberPwd').val("");
						$('#memberPwdCheck').val("");
						$('#memberPwd').focus();
					} else if (isNaN($('#memberTel').val())) {
						alert('전화번호를 숫자로만 입력해 주세요.');
						return;
					} else {
						$('#memberUpdateForm').submit();
					}
				}
			</script>
		</div>
		<div th:if="${memberInfo == 'delete'}" id="memberInfoBox">
			<form action="/sandme-0.0.1-SNAPSHOT/deleteProcess" method="GET" id="deleteBox">
				<p><span th:text="${mVo.memberName}">memberName</span>님의 회원 탈퇴를 진행합니다.</p>
				<input type="checkbox" id="agree" name="agree">
				<label for="agree">회원탈퇴 후 샌드미 멤버십 서비스 및 등록한 모든 소유권 상실에 대해 동의합니다.<span style="color:#009223;">(필수)</span></label>
				<div id="btnWrap2"><input type="button" value="회원탈퇴" class="btn2" onclick="deleteSubmit()"><input type="button" value="취소" class="btn3" th:onclick="|location.href='@{/memberInfo(memberNum=${mVo.memberNum})}'|"></div>
				<input type="hidden" name="memberNum" th:value="${mVo.memberNum}">
			</form>
			<script>
			function deleteSubmit() {
				if (!$('#agree').is(":checked")) {
					alert("회원 탈퇴 동의가 동의되지 않았습니다.");
				} else {
					$('#deleteBox').submit();
				}
			}
			</script>
		</div>
		<th:block th:replace="fragments/footer :: footerFragment"></th:block> <!-- 푸터 -->
	</section>
</body>
</html>