<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SandMe</title>
    <link rel="stylesheet" href="./css/style_base.css"> <!-- 베이스 스타일 시트 -->
    <link rel="stylesheet" href="./css/style_order.css"> <!-- 오더 스타일 시트 -->
</head>
<body>
	<header data-include="./include/header.html"></header>
	<section>
		<div id="orderHead">
			<div id="orderTitleDeco"></div>
			<span th:if="${order == 'home'}">
				<p id="orderTitle">배달 주문</p>
				<p>온라인 주문 배달 서비스입니다.</p>
			</span>
			<span th:if="${order == 'pickUp'}">
				<p id="orderTitle">매장 주문</p>
				<p>온라인 주문 후 매장 픽업/시식 서비스입니다.</p>
			</span>
			<div id="orderChapter">
			</div>
		</div>
		<div id="orderSearch">
			<form method="post">
				<label for="shop">매장 찾기</label>
				<input type="text" id="shop" name="address" placeholder="배달 받으실 주소를 입력해 주세요.">
				<input type="hidden" value="${order}">
				<input type="submit" value="입력">
			</form>
		</div>
		<span th:if="${address}">
			<p th:text="${address}">address</p>
		</span>
	</section>
	<footer data-include="./include/footer.html"></footer>
    <script>
    	function includeHTML() {
    		let z, elmnt, file, xhttp;
    	 
    	    z = document.getElementsByTagName("*");
    	    
    	    for (let i = 0; i < z.length; i++) {
    	    	elmnt = z[i];
    	    	file = elmnt.getAttribute("data-include");
    	      
				if (file) {
					xhttp = new XMLHttpRequest();
					xhttp.onreadystatechange = function() {
					if (this.readyState == 4) {
				    	if (this.status == 200) {elmnt.innerHTML = this.responseText;}
				    	if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
				    		elmnt.removeAttribute("data-include");
				        	includeHTML();
				        }
				    }
    	        xhttp.open("GET", file, true);
    	        xhttp.send();
    	        return;
	    	    }
    	    }
    	}
    	window.addEventListener('DOMContentLoaded', ()=>{
    	    includeHTML();
    	});
    </script>
</body>
</html>