<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.ico"> <!-- 파비콘 -->
    <title>SandMe 샌드미</title>
    <link rel="stylesheet" href="./css/style_base.css"> <!-- 베이스 스타일 시트 -->
    <link rel="stylesheet" href="./css/style_notice.css"> <!-- 메인 스타일 시트 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- 제이쿼리 -->
</head>
<body>
	<th:block th:replace="fragments/header :: headerFragment"></th:block> <!-- 헤더 -->
	<section>
		<div id="noticeHeader">
			<div id="TitleDeco"></div>
			<div>
				<p id="Title">공지사항</p>
				<p>총 <span th:text="${noticeList.size}" style="color: #009223; font-family: 'S-CoreDream-6Bold';">size</span>건의 게시글이 있습니다.</p>
			</div>
		</div>
		<div id="noticeListWrap" th:if="${notice == 'list'}">
			<table id="noticeList">
				<tbody>
			        <tr th:each="notice : ${noticeList}">
			            <td><span th:text="${notice.noticeNum}"></span></td>
			            <td><a th:href="@{/noticeView(noticeNum=${notice.noticeNum})}"><span th:text="${notice.noticeTitle}"></span></a></td>
			            <td><span th:text="${#strings.substring(notice.noticeDate, 2, 10)}"></span></td>
					</tr>
				</tbody>
			</table>
			<div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.admin == 'Y'}" id="noticeListBtnWrap"><button onclick="location.href='/noticeWriteForm'" class="btn">공지사항 작성</button></div>
		</div>
		<div id="noticeListWrap" th:if="${notice == 'write'}">
			<form action="/noticeWrite" method="post">
				<input type="hidden" name="noticeUser" th:value="${#authentication.principal.memberName}">
				글제목: <input type="text" name="noticeTitle"><br>
				글내용: <textarea rows="5" cols="30" name="noticeContent"></textarea>
				<br>
				<input type="submit" value="저장">
			</form>
			<button onclick="location.href='/noticeList'">목록</button>
		</div>
		<th:block th:replace="fragments/footer :: footerFragment"></th:block> <!-- 푸터 -->
	</section>
</body>
</html>